:root {
    --space-1: 4px;
    /* tiny */
    --space-2: 8px;
    /* small */
    --space-3: 12px;
    /* medium-small */
    --space-4: 16px;
    /* default */
    --space-5: 24px;
    /* section */
    --space-6: 32px;
    /* big */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: auto 1fr auto/ 1fr 4fr;
    height: 100vh;
    gap: var(--space-2);
}

.header {
    grid-column: 1/3;
    background-color: red;
}

.aside {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px dashed black;
}

.projectHeading {
    width: 100%;
    padding: var(--space-2);
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.projectContent {
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-5);
    width: 100%;
}

.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: var(--space-2);
    padding: var(--space-2);
}

.taskLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    max-inline-size: 66ch;
}

.taskRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

.divTitle {
    word-break: break-word;
}

.footer {
    grid-column: 1/-1;
    background-color: orange;

}

/* ---Modal--- */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: var(--space-4);
    border-radius: var(--space-2);
}